*fontList:	-*-gothic-medium-r-normal-*-12-*-*-*-p-*-*-1

rxvt.print-pipe: "cat > /dev/null"
URxvt.print-pipe: "cat > /dev/null"
URxvt.foreground:         white
URxvt.background:         black
URxvt.font: xft:DjvsmHW+VL-12:pixelsize=13
URxvt.keysym.M-C-1: command:\033]710;xft:DjvsmHW+VL-16:pixelsize=17\007
URxvt.keysym.M-C-2: command:\033]710;xft:DjvsmHW+VL-14:pixelsize=15\007
URxvt.keysym.M-C-3: command:\033]710;xft:DjvsmHW+VL-12:pixelsize=13\007
URxvt.saveLines: 10240
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.preeditType: OverTheSpot
URxvt.letterSpace: -1
URxvt.lineSpace: 0
URxvt.inputMethod: uim
URxvt*modifier: alt
URxvt.backspacekey: 
URxvt.cursorColor: #FF3333
URxvt.cursorBlink: true


Emacs*useXim: false

URxvt*color0:  #000000
URxvt*color1:  #FF3333
URxvt*color2:  #33FF33
URxvt*color3:  #FFFF33
URxvt*color4:  #3333FF
URxvt*color5:  #FF33FF
URxvt*color6:  #33FFFF
URxvt*color7:  #FFFFFF
URxvt*color8:  #7F7F7F
URxvt*color9:  #FF7F7F
URxvt*color10: #7FFF7F
URxvt*color11: #FFFF7F
URxvt*color12: #7F7FFF
URxvt*color13: #FF7FFF
URxvt*color14: #7FFFFF
URxvt*color15: #FFFFFF
