* {
  font-family: "MGen+ 1p" !important;
  font-size: 12px !important;
  /* color: black !important;*/
  line-height: 12px !important;
  -moz-appearance: none !important;
}

#context-back {
display: none !important;
}
/* 進む */
#context-forward {
display: none !important;
}
/* 更新 */
#context-reload {
display: none !important;
}
/* 中止 */
#context-stop {
display: none !important;
}
/* 「中止」の下のセパレーター */
#context-sep-stop {
display: none !important;
}

#context-sendpage,
#context-sendlink{
	display: none !important;
}
#context-metadata,
#context-keywordfield,
#context-viewpartialsource-selection{
	display: none !important;
}
menuitem[command="Browser:ReadMail"],
menuitem[command="Browser:NewMessage"], menuitem[command="Browser:NewMessage"] + menuseparator{
	display: none !important;
}
dialog#addBookmarkDialog bookmarks-tree#folder-tree{
	visibility: visible !important;
}

dialog#addBookmarkDialog button#expander{
	visibility: hidden !important;
}
embed[src*=".mid"]{
	display: none !important;
}
 
/* Change appearance of tabs */
tab{
padding-top:1px !important;
padding-bottom:1px !important;
margin:0 !important;
}

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

:root[privatebrowsingmode=temporary] #urlbar,
:root[privatebrowsingmode=permanent] #urlbar{
  background-color:#5f002f!important;
  color:white!important;
}

:root[privatebrowsingmode=temporary] #urlbar:not([readonly="true"]) .urlbar-input-box,
:root[privatebrowsingmode=temporary] #urlbar:not([readonly="true"]) .urlbar-input-box{
  background: #5f002f !important;
  color:white!important;
}

richlistitem[selected="true"]{
  background-color:#0000af!important;
  color:white!important;
}
.ac-action{
  color:#00ff00!important;
}
*|input {
  font-family: monospace !important;
  font-size: 110% !important;
}

.ac-url-text {
  font-size:100% !important;
  font-family: monospace !important;
}

